.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-width: 2em;
  border-style: solid;
  border-color: transparent;
  border-top-color: currentColor;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
